<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-family: "calibri";
        }
    </style>
</head>

<body>
    <div class="container mt-4 pt-4" style="border:1px solid rgba(0, 0, 0, 0.644)">
        <div class="date">
            <p style="margin-left: 15px;font-size:10px;">
                <%= d %>
            </p>
        </div>

        <center>
            <h2>
                <span class="ml-2 mt-1" style="color:rgba(12, 59, 12, 0.835);font-weight: 500;">Greenque</span>
            </h2>
            <hr>
            <h4>Category Report</h4>
            <table style="width:100%;text-align:center;padding-bottom: 5%;font-size: 12px;" id="tbl">
                <tr style="background-color: rgba(86, 194, 236, 0.678);font-size: 12px;">
                    <th>
                        Name
                    </th>
                </tr>
                <% data.forEach(c=>{%>
                    <tr>
                        <td style="border-bottom: 1px solid black;padding-top: 10px;font-size: 12px;">
                            <%= c.category_name %>
                        </td>
                    </tr>
                    <%})%>
            </table>
        </center>
    </div>
</body>

</html>