<div class="load">
    <div class="loader"></div>
</div>


<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: rgba(16, 120, 189, 0.986);">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">
        <b>Greenque</b>
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" class="text-white" style="border:0px;color: #FFFFFF8C;background-color: rgba(16, 120, 189, 0.986);"><b>Sign Out</b></button>
                </form>    
            
        </li>
    </ul>
</header>