<nav id="sidebarMenu" class="col-md-3 col-lg-2 bg-light sidebar collapse" style="height:100%;visibility: hidden;display: block;">
    <div class="position-sticky pt-3" style="background-color: rgba(0, 0, 0, 0.87);height: 100%;">
        <ul class="nav flex-column" id="dashboard-ul">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                    <span data-feather="home"></span>
                    <i class="fa fa-briefcase text-white m-1" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/manageorder" style="color: rgba(255, 255, 255, 0.883);">
                    <span data-feather="file"></span>
                    <i class="fa fa-truck m-1 text-white"></i>
                    <span>Orders</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/ManageProduct/list">
                    <span data-feather="shopping-cart"></span>
                    <i class="fa fa-leaf m-1"></i>
                    <span>Products</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/managecategory/list">
                    <span data-feather="file"></span>
                    <i class="fa fa-leaf m-1"></i>
                    <span>Categories</span>
                </a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="/admin/offers/list">
                    <span data-feather="file"></span>
                    Offers
                </a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/admin/viewCustomer">
                    <span data-feather="users"></span>
                    <i class="fa fa-users m-1" aria-hidden="true"></i>
                    <span>Customers</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/reports">
                    <span data-feather="bar-chart-2"></span>
                    <i class="fa fa-folder-open m-1" aria-hidden="true"></i>
                    <span>Reports</span>
                </a>
            </li>
        </ul>
    </div>
</nav>